/* body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  line-height: 1.6em;
  margin: 0;
} */

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #1f2937;
  background-color: #ffffff;
}

.navbar {
  background-color: rgb(56, 57, 136);
  color: #fff;
  text-align: center;
  margin: 0px;
  border: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.navbar ul {
  /* padding: 1%; */
  list-style: none;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  padding-right: 120px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(167, 167, 247);
}

.navbar a:hover {
  text-decoration: none;
  padding-right: 120px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(139, 139, 247);
}

#showcase {
  /* width: 90%; */
  margin-bottom: 10 px;
  overflow: hidden;
  background-color: rgb(56, 57, 136);
  background-position: center right;
  /* min-height: 50px; */
  text-align: center;
  /* display: inline-block; */
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  border-bottom-left-radius: 40% 20%;
  border-bottom-right-radius: 40% 20%;
}

#showcase h1 {
  color: #ffffff;
  font-size: 40px;
  line-height: 1em;
  /* padding-top: px; */
  text-align: center;
}

#showcase h2 {
  color: rgb(167, 167, 247);
  font-size: 30px;
  line-height: 1em;
  /* padding-top: px; */
  text-align: center;
  margin-left: 10%;
}

#showcase img {
  width: 150px;
  display: flex;
  float: right;
}

#main {
  padding: 0 30px;
  box-sizing: border-box;
  text-align: center;
  display: block;
}

#form {
  text-align: left;
  width: 50%;
}

#history {
  float: right;
  text-align: left;
  /* vertical-align: right; */
  line-height: 0%;
  /* padding: 1px; */
  width: 35%;
  /* background-size: 400px;
    box-sizing: border-box;
    margin-bottom: 300px; */
  height: 300px;
  overflow: scroll;
}

#history-user {
  /* text-align: right; */
  margin-bottom: 0;
  block-size: auto;
  font-weight: bolder;
}

#history-input {
  margin-top: 0;
  text-align: left;
  background-color: rgb(221, 250, 221);
  height: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  block-size: auto;
  border-radius: 5px;
  padding-left: 10px;
}

#history-answer {
  background-color: rgb(220, 220, 253);
  height: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  /* color: white; */
  border-radius: 5px;
  block-size: auto;
  line-height: 22px;
  padding-left: 10px;
}

#history-author {
  font-weight: bolder;
}

#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 2%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.form-label {
  /* margin-bottom: 0.5rem; */
  font-size: 20px;
  /* margin-bottom: 10px; */
  color: rgb(67, 67, 77);
  margin-bottom: 0px;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.username {
  display: block;
  width: 30%;
  padding: 0.55rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5563;
  background-color: #f9fafb;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d5db;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem;
  box-shadow: inset 0 1px 2px rgba(23, 31, 56, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
  display: block;
  block-size: auto;
  height: 5em;
  text-align: left;
  width: 80%;
  padding: 0.55rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5563;
  background-color: #f9fafb;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d5db;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem;
  box-shadow: inset 0 1px 2px rgba(23, 31, 56, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form {
  display: block;
  text-align: left;
  overflow: hidden;
  width: 50%;
  padding: 0.55rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b5563;
  background-color: #f9fafb;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d5db;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem;
  box-shadow: inset 0 1px 2px rgba(23, 31, 56, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-history {
  width: 100%;
  display: block;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0.25rem 0.35rem;
  /* font-weight: 400; */
  line-height: 0.5;
  color: #4b5563;
  background-color: #f2f6f8;
  /* background-clip: padding-box; */
  /* border: 0.0625rem solid #d1d5db; */
  border-radius: 1rem;
  box-shadow: inset 0 1px 2px rgba(23, 31, 56, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* @media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
} */

.form-control::file-selector-button {
  padding: 0.55rem 0.75rem;
  margin: -0.55rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #4b5563;
  background-color: #ffffff;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 0.0625rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.category {
  color: brown;
  text-align: center;
  margin:0;
}

[type="text"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

.submit-btn {
  color: #ffffff;
  background-color: rgb(56, 57, 136);
  border-color: #242e4c;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(23, 31, 56, 0.075);
  border-radius: 5px;
  padding: 5px 10px;
}

.submit-btn:hover {
  color: #ffffff;
  background-color: rgb(37, 38, 90);
  border-color: #1d253d;
}

.empty-margin {
  height: 70px;
  width: 50%;
}

.result {
  text-align: left;
  block-size: fit-content;
  /* display: inline-block; */
  width: 95%;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 5%;
}

.input {
  position: relative;
  padding: 1rem 1rem;
  /* margin-bottom: 1rem; */
  border: 0.0625rem solid transparent;
  border-radius: 1rem;
  background-color: rgb(204, 255, 204);
  /* opacity: 0.4; */
  /* height: 30px; */
  /* width: 50%; */
  /* border: 1px solid white;
  background-size: cover; */
}

.input:hover {
  background-color: rgb(221, 250, 221);
}

.quote {
  background-color: yellow;
}
.answer {
  position: relative;
  padding: 1rem 1rem;
  /* margin-bottom: 1rem; */
  border: 0.0625rem solid transparent;
  border-radius: 1rem;
  background-color: rgb(195, 196, 248);
  /* opacity: 0.4; */
  /* height: 30px; */
  /* width: 50%; */
  /* border: 1px solid white;
  background-size: cover; */
}

.answer:hover {
  background-color: rgb(213, 214, 243);
}

.answer-context {
  opacity: 0.5;
}

.title{
  font-style: italic;
  text-align: right;
  margin-top:0;

}
.author {
  font-weight: bolder;
}
