<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The mind and the monkey</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

    <nav class="navbar">
            <ul>
                <li> <a href="#"> Home </a></li>
                <li> <a href="#"> About </a></li>
                <li> <a href="#"> Text Search </a></li>
                <li> <a href="#"> Image Search  </a></li>
                <li> <a href="#"> Contact </a></li>
            </ul>

    
    </nav> 


<!-- 
    <section class="empty-margin">
    </section> -->
    <section id="main">
        <!-- <h1>Put your name and your thoughts!</h1> -->
        </p>

        <section class="form" id="history">
            <h1>Past searchs</h1>
            {% for s in history %}
            <section class="form-history"> 
            <div id="history-user"> 
                <p> {{ s.user }}</p> 
            </div>
            <div id="history-input"> 
                <p> {{ s.input }}</p>  </div>  <br>
            <div id="history-author"> 
                <p> {{ s.author }} </p> 
            </div>    
            <div id="history-answer"> 
                <p> {{ s.answer }}</p>
            </div>
             <br>  <br>
            </section>
            {% endfor %}
            <!-- <section id="form">
                <ul>
                    <li> date 1</li>
                    <li> date 2</li>
                </ul> -->
        
        </section>

        

        <section class="form" >
            <form class="input-form" method='POST' action='/'>
                <!-- <label class="form-label" for="fname"> Your name</label><br>
                <input class="username" type="text" name="fname" placeholder="Type your name..."><br> -->
                <label class="form-label" for="thoughts"> What's up today? </label> <br>
                <input class="form-control" type="textarea" name="thoughts" cols="30" rows="5", placeholder="Type your thoughts..."><br>

             <br>

            <button class="submit-btn" type="submit" >Submit</button>

        </form>



<!-- End of Form -->
    <!-- <section class="empty-margin">
        <p> {{ waiting }}</p>
    </section> -->
   <section class="result">
       <p class="form-label" > You </p>
        <div class="input" >
            {% if input %}
            {{ input }}
            {% else %}
            <p> I love eating carots</p>
            {% endif %}
            
        </div> 
     </section>
     <section class="result">

        <div class="form-label">
            <p class="category" > Philosophy </p>

            {% if philo_preds['author'] %}
            {{ philo_preds['author'] }}
            {% else %}
            {% endif %} 
        </div>

        <div class="answer" >
            {% if philo_preds['quote'] %}
            {{ philo_preds['quote'] }} </div>
            {% else %}
            <p> That's very good thing my dear</p>
            {% endif %}
        </div>

        <div class="answer-context" >
            {% if philo_preds['quote'] %}
            {{ philo_preds['before'] }}
            <div class='quote'>  {{ philo_preds['quote'] }} </div>
            {{ philo_preds['after'] }}

            {% endif %}
        </div>
        <div class='title'> 
            {% if philo_preds['title'] %}
            {{ philo_preds['title'] }}
            {% endif %}
        </div>

    </section> 
    
        <section class="result">

             <div class="form-label">
                <p class="category" > Psychology </p>

                 {% if psycho_preds['author'] %}
                 {{ psycho_preds['author'] }}
                 {% else %}
                 {% endif %} 
             </div> 
             <div class="answer">
                {% if psycho_preds['quote'] %}
               {{ psycho_preds['quote'] }} 
               {% else %}
                <p> That's very good thing my dear</p>
                {% endif %}
            </div>

             <div class="answer-context" >
                 {% if psycho_preds['quote'] %}
                 {{ psycho_preds['before'] }}
                <div class='quote'>  {{ psycho_preds['quote'] }} </div>
                 {{ psycho_preds['after'] }}
                 {% endif %}
             </div>
             <div class='title'> 
                 {% if psycho_preds['title'] %}
                 {{ psycho_preds['title'] }}
                 {% endif %}
             </div>
         </section> 
    

</body>
<footer id="main-footer">
<p>Copyright &copy; 2021 Monkey and the mind, Betty Le Dem</p></footer>
</html>